Nav.Item{
    color:blue;
}
.logo
{
    max-height: 50px; /* Set the maximum height for the logo */
    max-width: 100%; /* Ensure the logo doesn't exceed the Navbar's width */
    display: block; /* Make the image a block-level element for alignment */
    margin: 0 auto;
}